# Piaui Herald - Exploratory Data Analysis
Finding interesting cases for Rosie's column

In [1]:
import numpy as np
import pandas as pd

dataset = pd.read_csv('../../../serenata-data/2017-03-15-reimbursements.xz',
                      dtype={'applicant_id': np.str,
                             'cnpj_cpf': np.str,
                             'congressperson_id': np.str,
                             'subquota_number': np.str,
                             'document_id': np.int},
                      low_memory=False)

## Luxury Hotel

We are aiming to find suspicious expenses in hotels, maybe someone spent the holidays in some luxury hotel and asked for reimbursement

In [2]:
lodging = dataset[dataset['subquota_description'] == 'Lodging, except for congressperson from Distrito Federal']
keys = ['congressperson_id','cnpj_cpf', 'supplier']
grouped = lodging.groupby(keys)

Number of Lodging expenses

In [3]:
len(grouped)

21063

In [4]:
subquota_numbers = grouped['subquota_number'].agg(lambda x: ','.join(x)).reset_index()
subquota_numbers.head()

,congressperson_id,cnpj_cpf,supplier,subquota_number
0,101309,02697172000191,HOTEL E RESTAURANTE CARAIVA,"14,14"
1,101309,04652379000175,HOTEL ROYAL LTDA,"14,14,14,14,14"
2,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,"14,14"
3,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,14
4,101309,07881411000182,ITEM HOTELARIA TURISMO ESTACIONAMENTO P/ VEICU...,14

In [5]:
document_ids = grouped['document_id'].agg(lambda x: tuple(x)).reset_index()
document_ids.head()

,congressperson_id,cnpj_cpf,supplier,document_id
0,101309,02697172000191,HOTEL E RESTAURANTE CARAIVA,"(5769892, 5769895)"
1,101309,04652379000175,HOTEL ROYAL LTDA,"(5789888, 5942187, 5978852, 6005283, 6019174)"
2,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,"(5796458, 5922475)"
3,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,"(6041598,)"
4,101309,07881411000182,ITEM HOTELARIA TURISMO ESTACIONAMENTO P/ VEICU...,"(5622880,)"

In [6]:
net_values_sum = grouped['total_net_value'].agg({'sum': np.sum}).reset_index()
net_values_sum.head()

,congressperson_id,cnpj_cpf,supplier,sum
0,101309,02697172000191,HOTEL E RESTAURANTE CARAIVA,128.5
1,101309,04652379000175,HOTEL ROYAL LTDA,1890.9
2,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,617.7
3,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,953.4
4,101309,07881411000182,ITEM HOTELARIA TURISMO ESTACIONAMENTO P/ VEICU...,194.0

In [7]:
aggregation = pd.merge(pd.merge(subquota_numbers, document_ids, on=keys),
                       net_values_sum, on=keys)
aggregation.head()

,congressperson_id,cnpj_cpf,supplier,subquota_number,document_id,sum
0,101309,02697172000191,HOTEL E RESTAURANTE CARAIVA,"14,14","(5769892, 5769895)",128.5
1,101309,04652379000175,HOTEL ROYAL LTDA,"14,14,14,14,14","(5789888, 5942187, 5978852, 6005283, 6019174)",1890.9
2,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,"14,14","(5796458, 5922475)",617.7
3,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,14,"(6041598,)",953.4
4,101309,07881411000182,ITEM HOTELARIA TURISMO ESTACIONAMENTO P/ VEICU...,14,"(5622880,)",194.0

Get net value by row

In [8]:
def get_top_net_value(row):
    l = list(row['document_id'])
    values = []
    for reimbursement_id in l:
        values.append(float(dataset[dataset['document_id'] == reimbursement_id]['total_net_value']))
    return {'top_net_value':max(values), 'top_document':l[values.index(max(values))]}

In [9]:
top_things = aggregation.apply(func=get_top_net_value, axis='columns')
# new columns
aggregation['top_net_value'], aggregation['top_document'] = "",""

In [10]:
for _ in range(len(top_things)):
    # paliative since DataFrame.replace() did not work ¯\_(ツ)_/¯
    aggregation.loc[_, 'top_net_value'] = top_things[_]['top_net_value']
    aggregation.loc[_, 'top_document'] = top_things[_]['top_document']

In [11]:
aggregation.head()

,congressperson_id,cnpj_cpf,supplier,subquota_number,document_id,sum,top_net_value,top_document
0,101309,02697172000191,HOTEL E RESTAURANTE CARAIVA,"14,14","(5769892, 5769895)",128.5,79,5769892
1,101309,04652379000175,HOTEL ROYAL LTDA,"14,14,14,14,14","(5789888, 5942187, 5978852, 6005283, 6019174)",1890.9,822.7,5978852
2,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,"14,14","(5796458, 5922475)",617.7,430.7,5796458
3,101309,07881411000182,ITEM HOTELARIA TURISMO E ESTACIONAMENTO PARA V...,14,"(6041598,)",953.4,953.4,6041598
4,101309,07881411000182,ITEM HOTELARIA TURISMO ESTACIONAMENTO P/ VEICU...,14,"(5622880,)",194.0,194,5622880

In [12]:
aggregation = aggregation.sort_values(by='top_net_value', ascending=False)
aggregation.head(10)

,congressperson_id,cnpj_cpf,supplier,subquota_number,document_id,sum,top_net_value,top_document
9102,160633,07959819000120,KAPITAL VIAG. E TUR. LTDA,"14,14,14,14,14,14","(5877120, 5952491, 5952505, 5988139, 6025233, ...",24842.08,11090.1,5877120
17690,74319,04443021000213,EUROPA INVESTIMENTOS LTDA,"14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,1...","(5037717, 5054130, 5054141, 5054148, 5072351, ...",139915.00,10665,5322461
8366,160606,05668014000100,D.A.N HOTEL SP LTDA,"14,14,14,14,14,14,14,14,14,14,14,14,14,14,14","(2301718, 2385930, 2414282, 2443857, 5058637, ...",53664.07,10170,5652142
6509,160549,40848905000130,WM TURISMO E VIAGENS LTDA.,14,"(2349567,)",9316.20,9316.2,2349567
13162,73437,58133323000133,VASCO DA GAMA TURISMO LTDA,"14,14","(5168791, 5487203)",16000.00,9000,5487203
12678,178981,61223608000170,MEGTUR AGENCIA DE VIAGENS E TURISMO LTDA,14,"(5794903,)",8510.00,8510,5794903
17693,74319,04863492000108,RIO POTY HOTEL,"14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,1...","(1643367, 1643368, 1839328, 1839336, 1867172, ...",61400.00,8050,1955426
11387,178847,16978175000108,Adria viagens e turismo LTDA ME,"14,14,14,14,14,14,14,14,14,14,14,14","(5677346, 5677362, 5781905, 5781908, 5803661, ...",34425.02,7904.84,5884760
17250,74207,04433548000186,EMILIANO EMPREENDIMENTOS E PARTICIPAÇÕES HOTEL...,"14,14,14,14,14,14","(5150333, 5237164, 5346066, 5443587, 5531077, ...",32982.39,7697.22,5443587
17121,74177,34776559000120,NOVO HOTEL,"14,14,14,14,14,14,14,14,14,14","(5207833, 5349869, 5366314, 5410698, 5467753, ...",32144.00,7600,5497082

## Top eaters

Who were the congresspeople that ate more in one day and when?

In [99]:
meals = dataset[dataset['subquota_description'] == 'Congressperson meal']
meals = meals.reset_index()

In [100]:
keys = ['congressperson_name', 'issue_date']
meals_aggregation = meals.groupby(keys)['total_net_value']. \
                        agg({'sum': np.sum, 'expenses': len, 'mean': np.mean})
meals_aggregation['expenses'] = meals_aggregation['expenses'].astype(np.int)

In [101]:
meals_aggregation.sort_values(['expenses', 'sum'], ascending=[False, False]).head(20)

                                              sum  expenses       mean
congressperson_name issue_date
CELSO MALDANER      2011-09-05 00:00:00.0  750.28        13  57.713846
JOSÉ PAULO TÓFFANO  2010-04-27 00:00:00.0  558.07        13  42.928462
SANDRA ROSADO       2012-01-12 00:00:00.0  333.40        12  27.783333
                    2012-01-17 00:00:00.0  287.43        12  23.952500
                    2012-01-06 00:00:00.0  281.75        12  23.479167
LÉO VIVAS           2010-08-31 00:00:00.0  630.00        11  57.272727
SANDRA ROSADO       2012-01-11 00:00:00.0  541.56        11  49.232727
PAULO WAGNER        2011-07-21 00:00:00.0  537.66        11  48.878182
SANDRA ROSADO       2015-01-07 00:00:00.0  396.60        11  36.054545
                    2012-01-15 00:00:00.0  295.58        11  26.870909
FRANCISCO DE ASSIS  2014-11-18 00:00:00.0  565.99        10  56.599000
SANDRA ROSADO       2012-01-09 00:00:00.0  340.18        10  34.018000
MAGDA MOFATTO       2015-03-15 00:00:00.0  435.63         9  48.403333
FRANCISCO DE ASSIS  2014-12-02 00:00:00.0  409.56         9  45.506667
PAULO WAGNER        2011-07-31 00:00:00.0  404.75         9  44.972222
FRANCISCO DE ASSIS  2014-10-01 00:00:00.0  346.19         9  38.465556
VANDERLEI MACRIS    2009-09-12 00:00:00.0  279.13         9  31.014444
                    2009-12-11 00:00:00.0  274.00         9  30.444444
SANDRA ROSADO       2012-01-05 00:00:00.0  265.87         9  29.541111
DR. ADILSON SOARES  2014-03-19 00:00:00.0  248.59         9  27.621111

What was the highest meal reimbursement, where it was made and by who?

In [102]:
meals[['document_id', 'issue_date', 'total_net_value', 'congressperson_name', 'supplier']]. \
        sort_values('total_net_value', ascending=False).head(10)

,document_id,issue_date,total_net_value,congressperson_name,supplier
151919,5857053,2015-11-25 00:00:00.0,6205.00,LIDERANÇA DO PT,CENTRAL PARK RESTAURANTE E EVENTOS LTDA ME
148474,5588112,2015-01-18 00:00:00.0,5880.00,MARLLOS SAMPAIO,VR COMERCIO DE VEICULOS LTDA-ME
1628,1689682,2009-09-01 00:00:00.0,5852.00,MANOEL SALVIANO,HOTEL NACIONAL S/A
84828,2383218,2012-08-22 00:00:00.0,5696.00,LIDERANÇA DO PT,PARRILLA FIGUEIRA DA VILLA
182594,5954206,2016-03-30T00:00:00,5142.25,LIDERANÇA DO PT,CENTRAL PARK RESTAURANTE E EVENTOS LTDA ME
151914,5834088,2015-11-03 00:00:00.0,5054.99,LIDERANÇA DO PT,CENTRAL PARK RESTAURANTE E EVENTOS LTDA ME
132370,5573885,2014-12-10 00:00:00.0,5050.00,LIDERANÇA DO PT,CENTRAL PARK RESTAURANTE E EVENTOS LTDA ME
109870,5056362,2013-03-18 00:00:00.0,4990.00,LIDERANÇA DO PSDB,Emporio Albamonte Comercio e Serviços Alimentí...
1631,1717750,2009-11-03 00:00:00.0,4840.00,MANOEL SALVIANO,HOTEL NACIONAL S/A
36007,2195568,2011-11-02 00:00:00.0,4510.00,SALVADOR ZIMBALDI,HOTEL NACIONAL SA

## Bode assado

In [103]:
from re import compile, search

In [104]:
len(meals)

197237

In [112]:
bode = re.compile('BODE')
bode_bool = []
for _ in range(len(meals)):
    if bode.search(meals.loc[_, 'supplier']):
        bode_bool.append(True)
    else:
        bode_bool.append(False)

In [144]:
bode_meals = meals[bode_bool]
keys = ['congressperson_id','cnpj_cpf', 'supplier', 'issue_date', 'document_id']
bode_meals_grouped = bode_meals.groupby(keys)
bode_meals_grouped.head()

,index,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
2031,27773,2009,137,1723164,NaN,92.18,3129,GONZAGA PATRIOTA,74419,143.0,...,2009-11-15 00:00:00.0,99.22,7.04,92.18,11,0,NaN,NaN,437960,NaN
2032,27774,2009,137,1724236,NaN,7.04,3137,GONZAGA PATRIOTA,74419,143.0,...,2009-11-15 00:00:00.0,7.04,0.00,7.04,11,0,NaN,NaN,437960,NaN
2208,36156,2009,1455,1660201,NaN,14.00,3046,LUIS CARLOS HEINZE,73483,500.0,...,2009-07-09 00:00:00.0,14.00,0.00,14.00,7,0,NaN,NaN,419418,NaN
2234,36236,2009,1455,1676470,NaN,20.00,3079,LUIS CARLOS HEINZE,73483,500.0,...,2009-08-23 00:00:00.0,20.00,0.00,20.00,8,0,NaN,NaN,424313,NaN
2241,36245,2009,1455,1676509,NaN,14.00,3079,LUIS CARLOS HEINZE,73483,500.0,...,2009-08-31 00:00:00.0,14.00,0.00,14.00,8,0,NaN,NaN,424313,NaN
2261,36452,2009,1455,1703745,NaN,14.00,3109,LUIS CARLOS HEINZE,73483,500.0,...,2009-09-11 00:00:00.0,14.00,0.00,14.00,9,0,NaN,NaN,432250,NaN
2275,36545,2009,1455,1722763,NaN,14.00,3129,LUIS CARLOS HEINZE,73483,500.0,...,2009-10-08 00:00:00.0,14.00,0.00,14.00,10,0,NaN,NaN,437831,NaN
2281,36684,2009,1455,1749643,NaN,12.50,3168,LUIS CARLOS HEINZE,73483,500.0,...,2009-11-19 00:00:00.0,12.50,0.00,12.50,11,0,NaN,NaN,446024,NaN
2619,41752,2009,1544,1645842,NaN,39.00,3017,LUIZ BASSUMA,74059,182.0,...,2009-08-09 00:00:00.0,39.00,0.00,39.00,8,0,NaN,NaN,415238,NaN
4213,69076,2009,1710,1667521,NaN,44.50,3056,ZEZÉU RIBEIRO,74145,217.0,...,2009-09-07 00:00:00.0,44.50,0.00,44.50,9,0,NaN,NaN,421639,NaN
6253,93856,2009,1833,1646356,NaN,100.00,3017,FERNANDO COELHO FILHO,141431,158.0,...,2009-08-07 00:00:00.0,100.00,0.00,100.00,8,0,NaN,NaN,415317,NaN
6864,102028,2009,1856,1712629,NaN,50.00,3120,JOÃO CARLOS BACELAR,141458,187.0,...,2009-09-23 00:00:00.0,50.00,0.00,50.00,9,0,NaN,NaN,434841,NaN
8644,122708,2009,1924,1656921,NaN,51.04,3042,ROBERTO BRITTO,141529,211.0,...,2009-08-22 00:00:00.0,51.04,0.00,51.04,8,0,NaN,NaN,418446,NaN
8656,122734,2009,1924,1677315,NaN,73.02,3073,ROBERTO BRITTO,141529,211.0,...,2009-09-20 00:00:00.0,73.02,0.00,73.02,9,0,NaN,NaN,424564,NaN
8659,122747,2009,1924,1691378,NaN,60.00,3093,ROBERTO BRITTO,141529,211.0,...,2009-10-03 00:00:00.0,60.00,0.00,60.00,10,0,NaN,NaN,428635,NaN
9608,134752,2009,1960,1663229,NaN,120.00,3052,ANA ARRAES,141377,140.0,...,2009-08-15 00:00:00.0,120.00,0.00,120.00,8,0,NaN,NaN,420345,NaN
9911,139849,2009,1970,1651145,NaN,84.37,3027,JOSEPH BANDEIRA,4929,565.0,...,2009-08-14 00:00:00.0,84.37,0.00,84.37,8,0,NaN,NaN,416827,NaN
9921,139887,2009,1970,1661621,NaN,81.62,3048,JOSEPH BANDEIRA,4929,565.0,...,2009-08-24 00:00:00.0,81.62,0.00,81.62,8,0,NaN,NaN,419813,NaN
9922,139888,2009,1970,1661637,NaN,91.50,3051,JOSEPH BANDEIRA,4929,565.0,...,2009-08-26 00:00:00.0,91.50,0.00,91.50,8,0,NaN,NaN,419814,NaN
9938,139932,2009,1970,1673022,NaN,47.30,3068,JOSEPH BANDEIRA,4929,565.0,...,2009-09-04 00:00:00.0,47.30,0.00,47.30,9,0,NaN,NaN,423304,NaN
9960,140004,2009,1970,1700862,NaN,180.00,3107,JOSEPH BANDEIRA,4929,565.0,...,2009-10-17 00:00:00.0,180.00,0.00,180.00,10,0,NaN,NaN,431355,NaN
9961,140005,2009,1970,1700872,NaN,165.00,3107,JOSEPH BANDEIRA,4929,565.0,...,2009-10-18 00:00:00.0,165.00,0.00,165.00,10,0,NaN,NaN,431355,NaN
9989,140098,2009,1970,1732594,NaN,85.50,3143,JOSEPH BANDEIRA,4929,565.0,...,2009-10-30 00:00:00.0,85.50,0.00,85.50,10,0,NaN,NaN,440603,NaN
15947,206963,2010,137,1882756,NaN,440.00,3367,GONZAGA PATRIOTA,74419,143.0,...,2010-06-18 00:00:00.0,440.00,0.00,440.00,6,0,NaN,NaN,483439,NaN
15952,206977,2010,137,1905263,NaN,480.00,3391,GONZAGA PATRIOTA,74419,143.0,...,2010-08-02 00:00:00.0,480.00,0.00,480.00,8,0,NaN,NaN,489467,NaN
16638,219753,2010,153,1788491,NaN,98.89,3254,JAIRO CARNEIRO,74547,597.0,...,2010-02-26 00:00:00.0,98.89,0.00,98.89,2,0,NaN,NaN,457197,NaN
16841,222309,2010,1544,1875090,NaN,73.00,3359,LUIZ BASSUMA,74059,182.0,...,2010-06-20 00:00:00.0,73.00,0.00,73.00,6,0,NaN,NaN,481515,NaN
16850,222353,2010,1544,1885867,NaN,47.50,3370,LUIZ BASSUMA,74059,182.0,...,2010-07-04 00:00:00.0,47.50,0.00,47.50,7,0,NaN,NaN,484279,NaN
16892,222632,2010,1544,1946822,NaN,37.00,3461,LUIZ BASSUMA,74059,182.0,...,2010-09-10 00:00:00.0,37.00,0.00,37.00,9,0,NaN,NaN,500580,NaN
17927,236857,2010,1612,1836387,NaN,20.00,3323,MAURÍCIO RANDS,74045,138.0,...,2010-04-21 00:00:00.0,20.00,0.00,20.00,4,0,NaN,NaN,471793,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170832,1377491,2016,137,6136125,NaN,82.50,5591,GONZAGA PATRIOTA,74419,143.0,...,2016-10-08T00:00:00,82.50,0.00,82.50,10,0,NaN,NaN,1334003,NaN
170833,1377492,2016,137,6136127,NaN,85.00,5591,GONZAGA PATRIOTA,74419,143.0,...,2016-10-14T00:00:00,85.00,0.00,85.00,10,0,NaN,NaN,1334003,NaN
170834,1377493,2016,137,6136129,NaN,82.50,5591,GONZAGA PATRIOTA,74419,143.0,...,2016-10-15T00:00:00,82.50,0.00,82.50,10,0,NaN,NaN,1334003,NaN
170835,1377494,2016,137,6136132,NaN,85.00,5591,GONZAGA PATRIOTA,74419,143.0,...,2016-10-21T00:00:00,85.00,0.00,85.00,10,0,NaN,NaN,1334003,NaN
170836,1377495,2016,137,6136137,NaN,82.50,5591,GONZAGA PATRIOTA,74419,143.0,...,2016-10-22T00:00:00,82.50,0.00,82.50,10,0,NaN,NaN,1334003,NaN
171326,1382253,2016,1458,5914177,NaN,45.00,5345,POMPEO DE MATTOS,73486,516.0,...,2016-02-13T00:00:00,45.00,0.00,45.00,2,0,NaN,NaN,1264083,NaN
173560,1399523,2016,1782,5964720,NaN,28.71,5411,ANTONIO BULHÕES,141383,333.0,...,2016-02-26T00:00:00,35.09,6.38,28.71,2,0,NaN,NaN,1280328,NaN
173565,1399535,2016,1782,5964795,NaN,35.09,5411,ANTONIO BULHÕES,141383,333.0,...,2016-02-15T00:00:00,35.09,0.00,35.09,2,0,NaN,NaN,1280331,NaN
173569,1399556,2016,1782,6001047,NaN,35.09,5449,ANTONIO BULHÕES,141383,333.0,...,2016-03-11T00:00:00,35.09,0.00,35.09,3,0,NaN,NaN,1292165,NaN
173636,1399688,2016,1782,6169580,NaN,40.59,5637,ANTONIO BULHÕES,141383,333.0,...,2016-11-04T00:00:00,40.59,0.00,40.59,11,0,NaN,NaN,1345480,NaN
176813,1426474,2016,2225,5986257,NaN,154.00,5435,ARTHUR OLIVEIRA MAIA,160600,192.0,...,2016-04-02T00:00:00,154.00,0.00,154.00,4,0,NaN,NaN,1287060,NaN
178775,1438724,2016,2264,5984491,NaN,57.20,5433,PASTOR EURICO,160642,155.0,...,2016-05-01T00:00:00,57.20,0.00,57.20,5,0,NaN,NaN,1286380,NaN
178782,1438733,2016,2264,6002881,NaN,93.50,5451,PASTOR EURICO,160642,155.0,...,2016-05-22T00:00:00,93.50,0.00,93.50,5,0,NaN,NaN,1292367,NaN
178809,1438803,2016,2264,6048054,NaN,48.00,5498,PASTOR EURICO,160642,155.0,...,2016-07-09T00:00:00,48.00,0.00,48.00,7,0,NaN,NaN,1306686,NaN
178824,1438840,2016,2264,6061984,NaN,104.39,5514,PASTOR EURICO,160642,155.0,...,2016-07-26T00:00:00,104.39,0.00,104.39,7,0,NaN,NaN,1310791,NaN
178887,1438978,2016,2264,6140191,NaN,137.28,5597,PASTOR EURICO,160642,155.0,...,2016-10-27T00:00:00,137.28,0.00,137.28,10,0,NaN,NaN,1335505,NaN
180349,1449855,2016,2341,6084017,NaN,24.50,5534,ARNALDO JORDY,160602,18.0,...,2016-08-10T00:00:00,24.50,0.00,24.50,8,0,NaN,NaN,1317676,NaN
183196,1470047,2016,2813,6062270,NaN,112.42,5513,PAULÃO,171617,170.0,...,2016-07-22T00:00:00,112.42,0.00,112.42,7,0,NaN,NaN,1310980,NaN
187501,1501306,2016,2964,5922876,NaN,54.77,5360,MARINALDO ROSENDO,178919,152.0,...,2016-01-18T00:00:00,54.77,0.00,54.77,1,0,NaN,NaN,1266857,NaN
187520,1501372,2016,2964,5982295,NaN,85.62,5497,MARINALDO ROSENDO,178919,152.0,...,2016-04-19T00:00:00,85.62,0.00,85.62,4,0,NaN,NaN,1285681,NaN
187565,1501503,2016,2964,6139368,NaN,102.94,5600,MARINALDO ROSENDO,178919,152.0,...,2016-10-20T00:00:00,102.94,0.00,102.94,10,0,NaN,NaN,1335164,NaN
187569,1501510,2016,2964,6140741,NaN,93.90,5596,MARINALDO ROSENDO,178919,152.0,...,2016-11-03T00:00:00,93.90,0.00,93.90,11,0,NaN,NaN,1335672,NaN
187573,1501535,2016,2964,6151244,NaN,101.88,5615,MARINALDO ROSENDO,178919,152.0,...,2016-11-18T00:00:00,101.88,0.00,101.88,11,0,NaN,NaN,1339151,NaN
187589,1501601,2016,2964,6180565,NaN,89.25,5651,MARINALDO ROSENDO,178919,152.0,...,2016-12-26T00:00:00,89.25,0.00,89.25,12,0,NaN,NaN,1349244,NaN
194432,1559517,2016,831,5963677,NaN,94.96,5413,RUBENS BUENO,73466,460.0,...,2016-04-06T00:00:00,94.96,0.00,94.96,4,0,NaN,NaN,1279938,NaN
194528,1559762,2016,831,6124674,NaN,157.30,5580,RUBENS BUENO,73466,460.0,...,2016-10-12T00:00:00,157.30,0.00,157.30,10,0,NaN,NaN,1330544,NaN
194778,1561444,2016,995,5898172,NaN,28.00,5352,CLAUDIO CAJADO,74537,186.0,...,2016-01-20T00:00:00,28.00,0.00,28.00,1,0,NaN,NaN,1258809,NaN
196256,1571835,2017,2468,6214010,NaN,108.60,5730,SEVERINO NINHO,167614,573.0,...,2017-02-17T00:00:00,108.60,0.00,108.60,2,0,NaN,NaN,1359942,NaN
196627,1574997,2017,2964,6189928,NaN,84.69,5688,MARINALDO ROSENDO,178919,152.0,...,2017-01-24T00:00:00,84.69,0.00,84.69,1,0,NaN,NaN,1351786,NaN
196631,1575010,2017,2964,6196054,NaN,87.19,5704,MARINALDO ROSENDO,178919,152.0,...,2017-01-19T00:00:00,87.19,0.00,87.19,1,0,NaN,NaN,1353801,NaN

In [145]:
bode_meals_grouped = bode_meals_grouped['total_net_value'].agg({'expense': np.sum}).reset_index()
bode_meals_grouped = bode_meals_grouped.sort_values('expense', ascending=False)
bode_meals_grouped.head(20)

,congressperson_id,cnpj_cpf,supplier,issue_date,document_id,expense
250,74419,03487767000185,GERALDO BODE ASSADO,2011-02-13 00:00:00.0,2006450,1493.00
249,74419,03487767000185,GERALDO BODE ASSADO,2010-08-02 00:00:00.0,1905263,480.00
240,74419,03487767000185,GERALDO BODE ASSADO,2010-06-18 00:00:00.0,1882756,440.00
529,74419,16814703000193,BODEGA DA SERRA,2014-07-21 00:00:00.0,5476790,250.00
516,74419,03487767000185,GERALDO BODE ASSADO,2012-01-07 00:00:00.0,2249894,245.00
252,74419,03487767000185,GERALDO BODE ASSADO,2012-01-15 00:00:00.0,2249881,243.00
277,74419,03487767000185,GERALDO BODE ASSADO,2013-03-23 00:00:00.0,5061745,240.00
515,74419,03487767000185,GERALDO BODE ASSADO,2012-01-02 00:00:00.0,2249896,210.00
264,74419,03487767000185,GERALDO BODE ASSADO,2012-08-04 00:00:00.0,2385459,210.00
164,163322,03459794000144,ENTRE AMIGOS O BODE LTDA,2013-12-07 00:00:00.0,5303369,209.22
160,163322,03459794000144,ENTRE AMIGOS O BODE LTDA,2013-10-10 00:00:00.0,5247138,204.16
270,74419,03487767000185,GERALDO BODE ASSADO,2012-10-18 00:00:00.0,2415343,204.00
74,160603,11173206000130,BODE ASSADO CURAÇÁ,2014-03-09 00:00:00.0,5368496,200.00
246,74419,03487767000185,GERALDO - BODE ASSADO,2012-01-17 00:00:00.0,2244667,200.00
241,74419,03487767000185,GERALDO BODE ASSADO,2012-07-01 00:00:00.0,2347164,200.00
271,74419,03487767000185,GERALDO BODE ASSADO,2012-10-19 00:00:00.0,2415342,198.00
242,74419,03487767000185,GERALDO BODE ASSADO,2012-07-02 00:00:00.0,2347168,193.00
140,163322,03459794000144,ENTRE AMIGOS O BODE LTDA,2012-01-20 00:00:00.0,2241841,192.50
272,74419,03487767000185,GERALDO BODE ASSADO,2012-12-14 00:00:00.0,2451431,190.00
517,74419,03487767000185,GERALDO BODE ASSADO,2012-01-12 00:00:00.0,2249890,182.00